* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
}

#machine {
  border: .5em solid black;
  padding: 1em 1em 0;
  width: 38em;
}
.pad {
  border: .5em solid black;
  float: left;
  height: 8em;
  margin: 0 1em 1em 0;
  width: 8em;
}
.pad:nth-of-type(4n + 0) {
  margin-right: 0;
}


/* Utilities */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}
