.controls {
  border: $controls-border-width solid $controls-border-color;
  border-left: 0;
  border-radius: 0 $border-radius $border-radius 0;
  padding: $controls-padding;
}

.control-group {
  @extend .cf;
  margin: 0 0 $control-margin;

  &:last-child {
    margin-bottom: 0;
  }
}

.control-inline {
  float: left;
  margin-right: $control-margin;

  &:last-child {
    margin-right: 0;
  }
}
