// Base
// -----------------------------------

// Scaffolding
$body-bg: #fff;
$bg-color-base: #999;
$text-color: #999;

// Typography
$font-family: 'Exo 2', verdana, sans-serif;
$font-weight: 100;


$border-width: .25em / 4;
$border-color: #999;
$border-radius: 5px;


// audiohack (Stupid name)
// -----------------------------------

// Knobs
$knob-border-color: $border-color;
$knob-border-radius: 500px; //turns a box into a circle
$knob-border-width: $border-width;
$knob-width: 3em;
$knob-height: 3em;
$knobs-per-group: 2;

// Control
$control-margin: 1em;

// Controls
$controls-bg-color: #fff;
$controls-border-width: $border-width;
$controls-border-color: $border-color;
$controls-padding: 1em;

// Control Panel
$control-panel-bg-color: $bg-color-base;
$control-panel-border-color: $border-color;
$control-panel-border-width: $border-width;
$control-panel-margin: 1em;
$control-panel-padding: 1em;
$control-panel-width: ($knob-width + $control-margin) * $knobs-per-group + $control-panel-padding * 2 - $control-margin + ($control-panel-border-width * 2);
$control-panel-closed-width: -10.75em;

// Pad
$pads-per-row: 8;
$pad-border-color: $border-color;
$pad-border-width: $border-width;
$pad-margin: 1em;
$pad-width: 4em;
$pad-height: 4em;
$pad-bg-color: #fff;
$pad-enabled-bg-color: #648F00; // #0099cc;
$pad-active-bg-color: #84BD00; //#eee;
$pad-hover-bg-color: lighten($pad-enabled-bg-color, 50%);
$pad-enabled-active-bg-color: darken($pad-enabled-bg-color, 10%);

// Step Sequencer
$step-sequencer-bg-color: #fff;
$step-sequencer-border-color: $border-color;
$step-sequencer-border-width: $border-width;
$step-sequencer-padding: 2em;
$step-sequencer-width: ($pad-width + $pad-margin) * $pads-per-row + ($step-sequencer-padding * 2) + $step-sequencer-border-width - $pad-margin;

// Transport
$transport-border-color: $border-color;
$transport-border-width: $border-width;
$transport-padding: 2em;
$transport-width: $control-panel-width;

// audiohack
$audiohack-border-width: $border-width;
$audiohack-border-color: $border-color;
$audiohack-margin: 2em;
$audiohack-width: $step-sequencer-width + ($audiohack-border-width * 2);
