// Base
// -----------------------------------

// Scaffolding
$body-bg: #fff;
$text-color: #999;

// Typography
$font-family: helvetica, arial, sans-serif;

$border-width: .25em;
$border-color: #999;


// audiohack (Stupid name)
// -----------------------------------

// Knobs
$knob-border-color: $border-color;
$knob-border-radius: 500px; //turns a box into a circle
$knob-border-width: $border-width / 2;
$knob-width: 4em;
$knob-height: 4em;
$knobs-per-group: 3;

// Controls
$control-margin: 2em;

$controls-border-color: $border-color;
$controls-border-width: $border-width;
$controls-padding: 2em;
$controls-width: ($knob-width + $control-margin) * $knobs-per-group + $controls-padding * 2 - $control-margin;

// Drum Pad
$pads-per-row: 4;
$pad-border-color: $border-color;
$pad-border-width: $border-width;
$pad-margin: 2em;
$pad-width: 8em;
$pad-height: 8em;

// Drum Machine
$drum-machine-border-color: $border-color;
$drum-machine-border-width: $border-width;
$drum-machine-padding: 2em;
$drum-machine-width: ($pad-width + $pad-margin) * $pads-per-row + ($drum-machine-padding * 2) + $drum-machine-border-width - $pad-margin;

// audiohack
$audiohack-border-width: $border-width;
$audiohack-border-color: $border-color;
$audiohack-width: $controls-width + $drum-machine-width + ($audiohack-border-width * 2);
