<div id="control-panel">
  <h2 id="control-panel-title">Control Panel</h2>

  {{> controls/filter }}

  {{> controls/gain }}

  {{> controls/transport }}

  {{> controls/tempo }}

  {{> controls/save }}
</div>
