.knob {
  border: $knob-border-width solid $knob-border-color;
  border-radius: $knob-border-radius;
  width: $knob-width;
  height: $knob-height;
  position: relative;

  &::before {
    background-color: #999;
    border: 0 solid #999;
    border-radius: $knob-border-radius;
    content: '';
    display: block;
    height: 6px;
    width: 6px;
    position: absolute;
    bottom: 9px;
    left: 9px;
  }

  + .control-label {
    margin-top: .5em;
  }
}
