// Base
// -----------------------------------

// Colors
$white: #fff;
$gray-light: #eee;
$gray-dark: #999;

// Color theme:
// https://kuler.adobe.com/Potilasturva_info%231-color-theme-3441725/
$blue-lighter: #48E4FF;
$blue-light: #3AB9CF;
$blue-dark: #298291;
$blue-darker: #1A525C;
$blue-darkest: #123940;

// Scaffolding
$body-bg: $white;
$bg-color-base: $gray-dark;
$text-color: $gray-dark;

// Typography
$font-family: 'Exo 2', verdana, sans-serif;
$font-weight: 100;

$border-width: .25em / 4;
$border-color: $gray-dark;
$border-radius: 5px;


// Jamnastik
// -----------------------------------

// Buttons
$btn-border-color: $blue-light;
$btn-border-color-hover: $blue-lighter;
$btn-border-width: .125em;
$btn-color: $blue-light;
$btn-color-hover: $blue-lighter;
$btn-padding: .5em;

// Knobs
$knob-border-color: $border-color;
$knob-border-radius: 500px; //turns a box into a circle
$knob-border-width: $border-width;
$knob-width: 3em;
$knob-height: 3em;
$knobs-per-group: 2;

// Control
$control-margin: 1em;

// Controls
$controls-bg-color: $white;
$controls-border-width: $border-width;
$controls-border-color: $border-color;
$controls-padding: 1em;

// Control Panel
$control-panel-bg-color: $bg-color-base;
$control-panel-border-color: $border-color;
$control-panel-border-width: $border-width;
$control-panel-margin: 1em;
$control-panel-padding: 1em;
$control-panel-width: ($knob-width + $control-margin) * $knobs-per-group + $control-panel-padding * 2 - $control-margin + ($control-panel-border-width * 2);
$control-panel-closed-width: -10.75em;

// Pad
$pads-per-row: 8;
$pad-border-color: $border-color;
$pad-border-width: $border-width;
$pad-margin: 1em;
$pad-width: 4em;
$pad-height: 4em;
$pad-bg-color: $white;
$pad-enabled-bg-color: $blue-dark;
$pad-active-bg-color: $gray-light;
$pad-hover-bg-color: lighten($pad-enabled-bg-color, 50%);
$pad-enabled-active-bg-color: darken($pad-enabled-bg-color, 10%);

// Step Sequencer
$step-sequencer-bg-color: $white;
$step-sequencer-border-color: $border-color;
$step-sequencer-border-width: $border-width;
$step-sequencer-padding: 2em;
$step-sequencer-width: ($step-sequencer-border-width * 2) + ($pad-width + $pad-margin) * $pads-per-row + ($step-sequencer-padding * 2) + $step-sequencer-border-width - $pad-margin;

// Transport
$transport-border-color: $border-color;
$transport-border-width: $border-width;
$transport-padding: 2em;
$transport-width: $control-panel-width;
