<!DOCTYPE html>

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Jamnastik</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link href="http://fonts.googleapis.com/css?family=Exo+2:400,100" rel="stylesheet" type="text/css">
  <link rel="stylesheet" media="all" href="/css/style.css">
</head>
<body>

  {{{body}}}

  <!--Provided client-side implementation of socket.io npm -->
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/bundle.js"></script>
</body>
</html>
