<div class="controls">
  <h3>Filter <input type="checkbox" id="filter-toggle"></h3>
  <div class="is-hidden glyphicon glyphicon-unchecked"></div>
  <div class="control-group">

    <div class="control-inline">
      <div class="knob" id="filter-knob"></div>
      <input type="range" value="0" min="0" max="1" step="0.01" id="filter-control" class="is-hidden">
      <h4 class="control-label">Lo-pass</h4>
    </div>

    <div class="control-inline">
      <div class="knob" id="q-knob"></div>
      <input type="range" value="0" min="0" max="1" step="0.01" id="q-control" class="is-hidden">
      <h4 class="control-label">Q</h4>
    </div>

  </div>
</div>
