<div class="controls" id="save">
  <div class="control-group">
    <div class="control-inline">
      <button class="btn btn-save">SAVE</button>
      <div class="is-hidden glyphicon glyphicon-ok"></div>
    </div>
  </div>
</div>
