<div class="controls" id="tempo">
  <div class="control-group">
    <div class="glyphicon glyphicon-minus" id="tempo-decrease"></div>
    <div class="glyphicon glyphicon-plus" id="tempo-increase"></div>
    <span><span id="bpm">120</span> BPM</span>
  </div>
</div>
