<div class="controls" id="transport">
  <div class="control-group">
    <div class="glyphicon glyphicon-pause" id="pause"></div>
    <div class="glyphicon glyphicon-play" id="play"></div>
  </div>
</div>
